.navbar{
    height: fit-content;
    background-color: black;
    position: fixed;
    width: 100vw;
    .navbar-inner{
        padding: 20px 5vw;
    .menu{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin:0;
        padding:0;
        li{
            list-style: none;
            a{
                color: white;
                text-decoration: none;
            }
        }
     }
    }
    @media screen and (max-width: 1224px) {
        padding: 0;
        .navbar-inner{
        .burger-menu{
            width: 30px;
            height: 30px;
            transition: linear 0.5s;
        }
        .menu{
            flex-direction: column;
            justify-content: center;
          
           height: 92vh;
        position: absolute;
        right: -100vw;
            transition: linear 0.5s;
            z-index: 999;
            background-color: black;
li{
    margin: 20px 0;
}
        }
    }
}
}

.open-menu{
  
        .navbar{
            .navbar-inner{

                .menu{
                   margin-left: 0;

                  right:0
                }
            }
        }
    
}

